#footer {
    color: var(--default-white);
    background-color: var(--blue-dark);
    width: 100%;
    min-height: 300px;
}

.footer-title-header-service {
    font-size: 1.30em;
    font-weight: bold;
}

#footer-central {
    width: 80%;
    margin: auto;
}

#footer-header {
    display: flex;
}

#footer-header .block-service {
    width: 30%;
    margin: 1em auto;
}

.description {
    color: #aabbca;
}

.description .service {
    margin: 1em 0;
    font-size: 16px;
}

