<div id="footer">
    <div id="footer-central">
        <div id="footer-header">
            <div class="block-service">
                <div class="footer-title-header-service">
                    <span>Lilium</span>
                </div>
                <div class="description">
                    <span>Estamos a tu disposición! Nos preocupamos por ti, y queremos que tu negocio prospere teniendo un control total, no es eso bueno? Aquí logras 'eso' que quieres.</span>
                </div>
            </div>
            <div class="block-service">
                <div class="footer-title-header-service">
                    <span>Servicios</span>
                </div>
                <div class="description">

                </div>
            </div>
            <div class="block-service">
                <div class="footer-title-header-service">
                    <span>Redes Sociales</span>
                </div>
                <div class="description">
                    <div class="icons">
                        
                    </div>
                </div>
            </div>
        </div>

        <div id="footer-end">
            <span>&copy; 2021 </span>
        </div>
    </div>
</div>