<div class="index-block-content">
    <div id="tabla-suscripciones">
        <div class="suscripcion">
            <div class="tipo-suscripcion">
                <div class="header-h2">
                    Libre
                </div>

                <div class="precio-detalle">
                    <div class="precio">
                        $0 dolares
                    </div>
                </div>
            </div>

            <div class="descripcion-suscripcion">
                <div class="detail">
                    <fa-icon [icon]="faCheckCircle"></fa-icon>
                    Acceso a portal laboral
                </div>

                <div class="detail">
                    <fa-icon [icon]="faCheckCircle"></fa-icon>
                    Chats Ilimitados
                </div>

                <div class="detail">
                    <fa-icon [icon]="faCheckCircle"></fa-icon>
                    Chat hasta con 5 personas
                </div>
            </div>

            <div class="action-link">
                <button class="btn btn-ghostly btn-wm btn-pd-t" routerLink="/customer">Comienza gratis ahora</button>
            </div>
        </div>
        <div class="suscripcion">
            <div class="tipo-suscripcion">
                <div class="header-h2">
                    Empresarial
                </div>

                <div class="precio-detalle">
                    <div class="precio">
                        $30 dolares
                    </div>
                </div>
            </div>

            <div class="descripcion-suscripcion">
                <div class="detail">
                    <div class="icon">
                        <fa-icon [icon]="faCheckCircle"></fa-icon>
                    </div>
                    <div class="texto">
                        Todos los beneficios de Profesional
                    </div>
                </div>

                <div class="detail">
                    <div class="icon">
                        <fa-icon [icon]="faCheckCircle"></fa-icon>
                    </div>
                    <div class="texto">
                        Busqueda de personal amplificado
                    </div>
                </div>

                <div class="detail">
                    <div class="icon">
                        <fa-icon [icon]="faCheckCircle"></fa-icon>
                    </div>
                    <div class="texto">
                        Control y gestión de ventas amplificado
                    </div>
                </div>

                <div class="detail">
                    <div class="icon">
                        <fa-icon [icon]="faCheckCircle"></fa-icon>
                    </div>
                    <div class="texto">
                        Exportación e Importación de Datos
                    </div>
                </div>

                <div class="detail">
                    <div class="icon">
                        <fa-icon [icon]="faCheckCircle"></fa-icon>
                    </div>
                    <div class="texto">
                        Expositor de perfil
                    </div>
                </div>

                <div class="detail">
                    <div class="icon">
                        <fa-icon [icon]="faCheckCircle"></fa-icon>
                    </div>
                    <div class="texto">
                        Modo Programador, creador de bases de datos
                    </div>
                </div>
            </div>

            <div class="action-link">
                <button class="btn btn-wm btn-pd-t primary" routerLink="/company">Sube a Empresarial</button>
            </div>
        </div>
        <div class="suscripcion">
            <div class="tipo-suscripcion">
                <div class="header-h2">
                    Profesional
                </div>

                <div class="precio-detalle">
                    <div class="precio">
                        $15 Dolares
                    </div>
                </div>
            </div>            

            <div class="descripcion-suscripcion">
                <div class="detail">
                    <div class="icon">
                        <fa-icon [icon]="faCheckCircle"></fa-icon>
                    </div>
                    <div class="texto">
                        Todos los beneficios de Libre
                    </div>
                </div>

                <div class="detail">
                    <div class="icon">
                        <fa-icon [icon]="faCheckCircle"></fa-icon>
                    </div>
                    <div class="texto">
                        Creación de grupos
                    </div>
                </div>

                <div class="detail">
                    <div class="icon">
                        <fa-icon [icon]="faCheckCircle"></fa-icon>
                    </div>
                    <div class="texto">
                        Control de ventas
                    </div>
                </div>

                <div class="detail">
                    <div class="icon">
                        <fa-icon [icon]="faCheckCircle"></fa-icon>
                    </div>
                    <div class="texto">
                        Busqueda de personal
                    </div>
                </div>
            </div>

            <div class="action-link">
                <button class="btn btn-ghostly btn-wm btn-pd-t" routerLink="/profesional">Comenzar plan Profesional</button>
            </div>
        </div>
    </div>
</div>
