<div class="index-block-content">
    <div id="tabla-suscripciones">
        <div class="suscripcion">
            <div class="tipo-suscripcion">

            </div>

            <div class="descripcion-suscripcion">
                
            </div>

            <div class="action-link">
                <button></button>
            </div>
        </div>
        <div class="suscripcion">
            <div class="tipo-suscripcion">

            </div>

            <div class="descripcion-suscripcion">
                
            </div>

            <div class="action-link">
                <button></button>
            </div>
        </div>
        <div class="suscripcion">
            <div class="tipo-suscripcion">

            </div>            

            <div class="descripcion-suscripcion">
                
            </div>

            <div class="action-link">
                <button></button>
            </div>
        </div>
    </div>
</div>
