#nav {
    font-family: 'Zen Maru Gothic';
    color: var(--default-black);
    width: 100%;
    font-size: 16px;
    box-shadow: 0 0 10px var(--default-shadow-gray);
    display: flex;
}

.f-container {
    width: 80%;
    display: flex;
    margin: auto;
}

#nav .left .company {
    display: flex;
    align-items: center;
    width: 50%;
}

#nav .f-container > div {
    width: 50%;
}

.logo img {
    width: 70px;
}

#nav .left .name {
    font-size: 20px;
    font-weight: bold;
}

#nav .right {
    display: flex;
    justify-content: end;
}

.right .action-links {
    display: flex;
    align-items: center;
}

.action-links > div {
    margin: .5em;
}

.action-links > div a:hover {
    color: black;
    border-bottom: 1px solid var(--default-shadow-gray);
}