.btn {
    padding: .3em 1em;
    outline: none;
    border-radius: 4px;
    border: 1px solid var(--default-shadow-gray);
    cursor: pointer;
}

.btn[transparent] {
    background-color: transparent;
}

.btn-wm {
    width: 100%;
}

.btn-pd-t {
    padding: .5em 1em;
}

.btn-pd-t-m {
    padding: .8em 1em;
}

.btn[no-border] {
    border: 0;
}

.btn-ghostly {
    border-radius: 4px;
    border: 1px solid var(--default-shadow-gray);
}

.btn-ghostly:hover {
    border: 1px solid var(--shadow-gray-clear);
    border-bottom: 1px solid var(--shadow-gray-clear) !important;
}

.btn-ghostly:hover[warning] {
    border: 1px solid var(--default-red);
    border-bottom: 1px solid var(--default-red) !important;
}

.btn-ghostly:active {
    background-color: var(--default-blue);
    color: var(--default-white) !important;
}

.btn-ghostly:active[warning] {
    color: var(--default-white) !important;
    background-color: var(--default-red);
    border: 1px solid var(--red-clear) !important;
}

.btn.primary {
    color: white;
    background-color: var(--default-blue);
}

.btn.primary:hover {
    color: white;
    background-color: var(--blue-dark);
}

.btn.primary:active {
    background-color: #8587fa;
}

.btn.warning {

}