.btn {
    padding: .3em 1em;
}

.btn[transparent] {
    background-color: transparent !important;
}

.btn-ghostly {
    border-radius: 4px;
    border: 1px solid var(--default-shadow-gray);
}

.btn-ghostly:hover {
    border: 1px solid var(--default-black) !important;
}

.btn.primary {

}

.btn.warning {

}

.btn.danger {

}