.btn {
    padding: .3em 1em;
    outline: none;
    border-radius: 4px;
    border: 1px solid var(--default-shadow-gray);
    cursor: pointer;
}

.btn[transparent] {
    background-color: transparent;
}

.btn-wm {
    width: 100%;
}

.btn-pd-t {
    padding: .7em .3em;
}

.btn-pd-t-m {
    padding: 1em .3em;
}

.btn-pd-l {
    padding: .3em .7em;
}

.btn[no-border] {
    border: 0;
    border-radius: 0;
}

.btn-ghostly {
    border-radius: 4px;
    border: 1px solid var(--default-shadow-gray);
}

.btn-ghostly:hover {
    border: 1px solid var(--shadow-gray-clear) !important;
}

.btn-ghostly:active {
    background-color: var(--default-blue);
    color: var(--default-white) !important;
}

.btn.primary {
    color: white;
    background-color: var(--default-blue);
}

.btn.primary:hover {
    color: white;
    background-color: var(--blue-dark);
}

.btn.warning {

}

.btn.danger {
    color: white;
    background-color: var(--default-red);
}