<div id="portal-content">
    <div id="portal-central">
        <div id="jobs">
            <div class="job" *ngFor="let job of service.list" (click)="populateJob(job)" onclick="this.className += ' job-selected'">
                <div class="image">

                </div>
                <div class="job-content">
                    <div class="title">
                        <p>{{ job.titulo }}</p>
                    </div>
    
                    <div class="job-description">
                        <p>{{ job.empresa }}</p>
                        <p class="fechaCreacion">{{ job.fechaCreacion }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="job-description">
            <div class="tituloTrabajo">
                <input type="text" #title="ngModel" [(ngModel)]="service.formData.titulo">
            </div>
            
            <div class="descripcionTrabajo">
                <div class="texto">
                    <fa-icon [icon]="faBriefcase"></fa-icon>
                    Jornada <input #descripcion="ngModel" [(ngModel)]="service.formData.tipoJornada">
                </div>
                <div class="texto">
                    <input type="text" #descripcionNegocio="ngModel" [(ngModel)]="service.formData.descripcionNegocio">
                </div>
                <div class="texto">
                    <textarea name="" id="" cols="30" rows="10" #descripcion="ngModel" [(ngModel)]="service.formData.descripcion"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

