#portal-content {
    width: 100%;
    min-height: 90vh;
}

#portal-central {
    background-color: var(--white-clear);
    display: flex;
    margin: 0 auto;
    width: 70%;
    height: 90vh;
    box-shadow: 0px 0px 10px 0px var(--default-shadow-gray);
}

#jobs {
    overflow-x: scroll;
    width: 35%;
    box-shadow: -1px 0px 1px 0px inset var(--default-shadow-gray);
}

#jobs .job {
    width: 100%;
    box-shadow: 0px -1px 0px 0px inset var(--default-shadow-gray);
    min-height: 120px;
    max-height: 120px;
    display: flex;
    align-items: center;
}

.image {
    width: 20%;
}

.job-content {
    width: 80%;
}

.job-selected {
    background-color: aliceblue;
    box-shadow: -1px 0px 1px 0px inset var(--default-blue) !important
}

/* .job-content {
    margin: 1em;
} */

.title {
    font-size: 20px;
    color: var(--default-blue);
    font-weight: bold;
}

#job-description {
    width: 65%;
}


.job-description {
    font-size: 15px;
}

#jobs p {
    margin: 10px;
}

#job-description input, textarea {
    pointer-events: none;
    height: 1%;
    overflow: hidden;
    width: 90%;
    margin: auto;
    border: 0;
    background-color: var(--white-clear);
}

#job-description div {
    width: 90%;
    margin: 1em auto;
}

.tituloTrabajo {
    font-size: 30px;
}

.texto {
    display: flex;
    align-items: center;
}

.fechaCreacion {
    color: var(--blue-clear);
    font-weight: bold;
}