<div id="nav">
    <div class="f-container">
        <div class="left">
            <div class="company">
                <div class="logo">
                    <img src="assets/image/logo.png" alt="">
                </div>
                <div class="name">
                    {{ title }}
                </div>
            </div>
        </div>
        <div class="right">
            <div class="action-links">
                <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
                    <div class="link">
                        <a href="" class="btn" no-border>Inicio</a>
                    </div>
                    <div class="link">
                        <a href="" class="btn" no-border>Suscripciones</a>
                    </div>
                    <div class="link">
                        <a routerLink="login" class="btn btn-ghostly">Iniciar sesión</a>
                    </div>
                </ng-container>
                <ng-template #loggedIn>
                    <div class="link">
                        <a class="btn" no-border>Negocio</a>
                    </div>
                    <div class="link">
                        <a routerLink="portal" class="btn" no-border>Portal laboral</a>
                    </div>
                    <div class="link">
                        <a (click)="authService.logout()" class="btn btn-ghostly">Cerrar sesión</a>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
