<div id="content-profile">
    <div id="profile-description">
        <div class="tip">
            Puedes contactar a este usuario con este correo
            <p>{{ user.email }}</p>
            <button class="btn btn-wm btn-pd-t" routerLink="/profile/edit">Configuración</button>
        </div>
    </div>
    
    <div id="business-description">
        <div class="task">
            <div class="actions">
                <button class="btn primary">Nuevo</button> | 
                <button (click)="vaciarActividadesEmpresa(user.id)" class="btn btn-ghostly" transparent warning>Vaciar todo</button>
            </div>
            <form action="" #form="ngForm" (submit)="nuevaActividad(form)">
                <input type="hidden" name="company_id" #company_id="ngModel" [(ngModel)]="service.data2.company_id" >
                <input placeholder="Coloca la actividad a realizar" id="titulo" type="text" name="title" #title="ngModel" [(ngModel)]="service.data2.title">
                <button id="modal-button" class="btn">Enviar</button>
            </form>

            <div id="actividades">
                <div id="incompletas" class="actividad" >
                    <div *ngFor="let task of service.actividades">
                        
                        <div class="cabecera">
                            <p>{{ task.title }}</p>
                            <ng-container *ngIf="task.fechaInicio == data.fecha">
                                <span class="tag-new">Nuevo</span>
                            </ng-container>
                            <div class="images-actions">
                                <img (click)="completarActividad(task.task_id)" src="assets/image/check.png"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="completas" class="actividad" >
                    <div class="completa" *ngFor="let complete of service.actividadesCompletas">
                        <p>{{ complete.title }}</p>
                    </div>
                    <button class="btn btn-ghostly btn-wm" transparent (click)="vaciarActividadesCompletasEmpresa(user.id)">Limpiar</button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="advertisements">
        <div class="advertisements-company">
            <div class="ad" *ngFor="let job of service.list">
                <p>{{ job.title }}</p>
                <p>{{ job.description }}</p>                  
                <ng-container *ngIf="job.title != null">
                    <button class="btn">Editar</button>
                    <button class="btn btn-ghostly" (click)="eliminarAnuncio(job.jobId)" transparent warning>Eliminar</button>
                </ng-container>
            </div>
        </div>
        <button class="btn">Ver todos</button>

        <ng-container *ngIf="user.rol_id == '3'; else default">
            <div class="new-advertisement">
                <form #form="ngForm" (submit)="onSubmit(form)">
                    <input type="hidden" name="company_id" #company_id="ngModel" [(ngModel)]="service.formData.company_id" >
                    <div class="block-form-advertisement">
                        <label for="">Titulo del anuncio</label>
                        <input maxlength="25" type="text" name="title" #title="ngModel" [(ngModel)]="service.formData.title">
                    </div>
                    
                    <div class="block-form-advertisement">
                        <label for="">Descripción</label>
                        <textarea rows="10" type="text" name="description" #description="ngModel" [(ngModel)]="service.formData.description"></textarea>
                    </div>
    
                    <div class="block-form-advertisement">
                        <label for="">Jornada</label>
                        <select name="jornada" #tipoJornadaId="ngModel" [(ngModel)]="service.formData.tipoJornadaId">
                            <option disabled [ngValue]="undefined">Tipo de Jornada</option>
                            <option *ngFor="let jornada of service.jornadas" [ngValue]="jornada.tipoJornadaId">{{jornada.jornada}}</option>
                        </select>
                    </div>
                    
                    <div class="block-form-advertisement">
                        <button type="submit" class="btn btn-wm btn-pd-t btn-ghostly" transparent>Agregar</button>
                    </div>
                 </form>
            </div>
        </ng-container>
        <ng-template #default>
            <div class="top-empresa" *ngFor="let empresa of service.empresas">
                <p>{{ empresa.company_name }}</p>
            </div>
        </ng-template>


    </div>
</div>