@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap'); 
/* Zen Maru Gothic */
@import url('app/css/buttons.css');
@import url('app/css/headers.css');
@import url('app/css/formSuscription.css');

app-root {
    display: flex;
    align-items: baseline;
    min-height: 100vh;
    flex-wrap: wrap;
}

app-navbar {
    position: sticky;
    top: 0;
    background-color: var(--default-white);
}

app-navbar, app-login, app-suscripciones, app-footer, app-profesional-suscription,
app-customer-suscription, app-home, app-portal, app-company-suscription,
app-navbar-premium, app-profile, app-edit {
    width: 100%;
}

app-customer-suscription, app-login, app-company-suscription, app-profesional-suscription {
    display: flex;
    align-items: center;
}

app-footer {
    align-self: end;
}

html, body {
    font-family: 'Zen Maru Gothic';
}

:root {
    --blue-dark: rgb(2, 49, 67);
}

:root {
    --default-white: #f2f2f2;
    --default-black: #404040;
    --default-blue: #1B3C59;
    --default-green: #b1f1c7;
    --default-orange: #fce5cf;
    --default-yellow: #f8f8ba;
    --default-pink: #F2A999;
    --default-red: #F28177;
    --default-shadow-gray: #d9d9d9;

}

/* the same color but more clear */
:root {
    --white-clear: #fafafa;
    --orange-clear: #ffc999;
    --yellow-clear: #ffff80;
    --shadow-gray-clear: #a6a6a6;
    --blue-clear: #3472a8;
    --red-clear: #f6210e;
}

:root {
    --crimson-red: #991206;
}

body {
    background-color: var(--default-white);
}

html {
    user-select: none;
    scroll-behavior: smooth;
}

img {
    width: 100%;
    pointer-events: none;
    vertical-align: middle;
}

a, li, ul, ol { 
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

a {
    cursor: pointer !important;
}

label {
    display: block;
}

input {
    outline: none;
    display: block;
}