<app-navbar></app-navbar>
<div class="background">
    <div class="fake-dim">
        <div class="container-dim">
            <div class="title-header">
                Bienvenido al mundo Emprendedor!
            </div>
    
            <div class="reference">
                Tu negocio, tu vida
            </div>
        </div>
    </div>
</div>

<div class="block-home" white>
    <div class="block-container">
        <div class="img">
            <img src="assets/image/img_anuncios.svg" alt="">
        </div>
    
        <div class="description">
            <div class="title">
                <span>Busca o Crea</span> el trabajo!
            </div>
            <div class="text-reference">
                Puedes buscar en nuestro amplio portal laboral la oportunidad que buscas, O <span>créala</span> para quienes necesiten!
            </div>
        </div>
    </div>
</div>

<app-suscripciones></app-suscripciones>
<app-footer></app-footer>