<div id="nav">
    <div class="f-container">
        <div class="left">
            <div class="company">
                <div class="logo">
                    <img src="assets/image/logo.png" alt="">
                </div>
            </div>
        </div>
        <div class="right">
            <div class="action-links">
                <div class="link">
                    <a href="" class="btn" no-border>Inicio</a>
                </div>
                <div class="link">
                    <a href="" class="btn" no-border>Negocio</a>
                </div>
                <div class="link">
                    <a class="btn" no-border >Nuevo Anuncio</a>
                </div>
                <div class="link">
                    <a routerLink="login" class="btn btn-ghostly">Iniciar sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>
